body{
    margin:0;
    padding:0;
    font-family:Arial;
    background:#F4F5FC;
}

.chat-container{
    width:500px;
    background:#fff;
    margin:50px auto;
    border-radius:20px;
    padding:20px;
}

.chat-box{
    height:400px;
    overflow-y:auto;
    border:1px solid #ddd;
    padding:20px;
    border-radius:15px;
}

.bot{
    background:#eee;
    padding:15px;
    border-radius:12px;
    margin-bottom:15px;
}

.user{
    background:#2F66F3;
    color:#fff;
    padding:15px;
    border-radius:12px;
    margin-bottom:15px;
    text-align:right;
}

.input-area{
    display:flex;
    gap:10px;
    margin-top:20px;
}

input{
    flex:1;
    height:50px;
    border-radius:10px;
    border:1px solid #ccc;
    padding-left:15px;
}

button{
    width:100px;
    border:none;
    background:#2F66F3;
    color:#fff;
    border-radius:10px;
}
